.btn_upload {
    padding: 8px 12px;
    background-color: var(--blue-background-color);
    border-radius: 10px;
    text-align: center;
    color: var(--white-text-color);
    outline: 0;
    border: 0;
    max-width: 80px;
    cursor: pointer;
}