.container {
    display: flex;
    height: 100%;
}

.wrapper{
    min-width: calc(100% - 83%);
    position: fixed;
}

.content{
    background-color: var(--background-color);
    width: 100%;
    display: flex;
    margin-left: calc(100% - 83%);
}