@import url('https://fonts.googleapis.com/css2?family=Inclusive+Sans&family=Montserrat:wght@100;300;400;500;600;700&display=swap');

:root {
    --primary-color: #ff3040;
    --background-color: #000000;
    --grey-background-color: #363636;
    --white-text-color: #F8FCFF;
    --black-text-color: #161616;
    --grey-text-color:#7c7c7c;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Inclusive Sans', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.6rem;
    line-height: 1.8rem;
    text-rendering: optimizeSpeed;
}

a{
    text-decoration: none;
}

button{
    border: 0;
}